<header class="flex justify-center items-center py-5 px-32 w-full xl:w-[1220px] mx-auto">
    <nav class="flex flex-col lg:flex-row text-center justify-between gap-y-3 gap-x-10 lg:gap-x-20 opacity-80 max-w-max">
        <a href="#experiencia" class="hover:text-orange-400 transition duration-200 hover:translate-y-1">Experiencia</a>
        <a href="#proyectos" class="hover:text-orange-400 transition duration-200 hover:translate-y-1">Proyectos</a>
        <a href="#sobre-mi" class="hover:text-orange-400 transition duration-200 hover:translate-y-1">Sobre Mi</a>
        <a href="#contacto" class="hover:text-orange-400 transition duration-200 hover:translate-y-1">Contacto</a>
    </nav>
</header>